<%# partial for creating/editing a kitten %>
<%= form_with model: @kitten do |kitten_form| %>
  <div>
    <%= kitten_form.label :name %>
    <%= kitten_form.text_field :name %>
  </div>
  <div>
    <%= kitten_form.label :age %>
    <%= kitten_form.number_field :age %>
  </div>
  <div>
    <%= kitten_form.label :cuteness %>
    <%= kitten_form.number_field :cuteness %>
  </div>
  <div>
    <%= kitten_form.label :softness %>
    <%= kitten_form.number_field :softness %>
  </div>
  <%= kitten_form.submit %>
<% end %>
