<h1>Show <%= @kitten.name %></h1>
<p>here is <%= @kitten.name %></p>
<%# show attributes of the kitten %>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>
